@model Task1.Models.AidAndAttendance

@{
    ViewBag.Title = "AidAndAttendance";
}

<h2>AidAndAttendance</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AidAndAttendance</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.F_M_L_Veteran, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F_M_L_Veteran, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F_M_L_Veteran, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F_M_L_Claimant, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F_M_L_Claimant, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F_M_L_Claimant, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rel_Of_Cl_Vet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rel_Of_Cl_Vet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rel_Of_Cl_Vet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vet_SSN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vet_SSN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vet_SSN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cla_SSN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cla_SSN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cla_SSN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Claim_Num, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claim_Num, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claim_Num, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Of_Exam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_Of_Exam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_Of_Exam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Home_Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Home_Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Home_Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Claimant Hospitalized:</label>
            <div class="col-md-10">

                @Html.RadioButton("Is_Claimant_Hospitalized_Yes", false, htmlAttributes: new { value = "Yes", @class = "radio-inline Is_Claimant_Hospitalized_Yes" }) Yes
                @*@Html.EditorFor(model => model.Is_Claimant_Hospitalized_Yes, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Is_Claimant_Hospitalized_Yes, "", new { @class = "text-danger" })

                @Html.RadioButton("Is_Claimant_Hospitalized_No", false, htmlAttributes: new { value = "No", @class = "radio-inline Is_Claimant_Hospitalized_No" }) No

            </div>
        </div>
        <div class="form-group prop_8b">
            @Html.LabelFor(model => model.DateAdmitted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateAdmitted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateAdmitted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group prop_8b"  style="border:2px outset black;border-radius:10px">
            @Html.LabelFor(model => model.NameAndAddressOfHospital, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameAndAddressOfHospital, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameAndAddressOfHospital, "", new { @class = "text-danger" })
            </div>
        </div>
        <script>
            $(".prop_8b").hide();

            $("#Is_Claimant_Hospitalized_Yes").change(function () {
                var a = $(this).prop("checked");
                //alert(a);
                if (a == true) {
                    $(".prop_8b").show();
                    $("#Is_Claimant_Hospitalized_No").prop("checked", false);

                }
            });
            $("#Is_Claimant_Hospitalized_No").change(function () {
                var a = $(this).prop("checked");
                //alert(a);
                if (a == true) {
                    $(".prop_8b").hide();

                    $("#Is_Claimant_Hospitalized_Yes").prop("checked", false);
                }
            });
        </script>

        <div class="form-group">
            @Html.LabelFor(model => model.CompleteDiagnosis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompleteDiagnosis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompleteDiagnosis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="radio" name="Sex" class="Sex radio-inline" data-name="Male" value="Male" /> Male
                <input type="radio" name="Sex" class="Sex radio-inline" data-name="Female" value="Female" /> Female
                <input type="radio" name="Sex" class="Sex radio-inline" data-name="Other" value="Other"/> Other
                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
            </div>
        </div>
        <script>

            $(".Sex").change(function () {
                var a = $(this).data("name");
                //alert(a);

            });
        </script>
        <div class="form-group">
            @Html.LabelFor(model => model.Weight_Actual_Lbs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight_Actual_Lbs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Weight_Actual_Lbs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight_Estimated_Lbs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight_Estimated_Lbs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Weight_Estimated_Lbs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Height_Feet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Height_Feet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Height_Feet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Height_Inches, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Height_Inches, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Height_Inches, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nutrition, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nutrition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nutrition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gait, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gait, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gait, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Blood_Presuure, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Blood_Presuure, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Blood_Presuure, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pulse_Rate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pulse_Rate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pulse_Rate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resp_Rate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Resp_Rate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Resp_Rate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dis_Act, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dis_Act, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dis_Act, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Hr in Bed</label>
            @*@Html.LabelFor(model => model.Ind_Num_Bed_9pmto5am, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">

                <input type="checkbox" class="checkbox-inline Ind_Num_Bed_9pmto5am" data-name=""
                       id="Ind_Num_Bed_9pmto5am"
                       name="Ind_Num_Bed_9pmto5am"
                       value="Ind_Num_Bed_9pmto5am" /> 9 pm to 5 am
                <input type="checkbox" class="checkbox-inline Ind_Num_Bed_9amto5pm" data-name=""
                       id="Ind_Num_Bed_9amto5pm"
                       name="Ind_Num_Bed_9amto5pm"
                       value="Ind_Num_Bed_9amto5pm" />
                9 am to 5 pm


                <script>
                    $("#Ind_Num_Bed_9pmto5am").change(function () {
                        var a = $(this).val();
                        //alert(a);
                        $("#Ind_Num_Bed_9amto5pm").prop("checked", false);
                    });
                    $("#Ind_Num_Bed_9amto5pm").change(function () {
                        var a = $(this).val();
                        //alert(a);
                        $("#Ind_Num_Bed_9pmto5am").prop("checked", false);
                    });
                </script>
                @*@Html.EditorFor(model => model.Ind_Num_Bed_9pmto5am, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ind_Num_Bed_9pmto5am, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.Ind_Num_Bed_9amto5pm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ind_Num_Bed_9amto5pm, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Claimant Feed?</label>
            @*@Html.LabelFor(model => model.Ind_Num_Bed_9pmto5am, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">

                <input type="checkbox" class="checkbox-inline Claimant_feed_Yes" data-name=""
                       id="Claimant_feed_Yes"
                       name="Claimant_feed_Yes"
                       value="Claimant_feed_Yes" /> Yes
                <input type="checkbox" class="checkbox-inline Claimant_feed_No" data-name=""
                       id="Claimant_feed_No"
                       name="Claimant_feed_No"
                       value="Claimant_feed_No" />
                No


                @*@Html.EditorFor(model => model.Ind_Num_Bed_9pmto5am, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ind_Num_Bed_9pmto5am, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.Ind_Num_Bed_9amto5pm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ind_Num_Bed_9amto5pm, "", new { @class = "text-danger" })*@
            </div>




        </div>

        <div class="form-group Claimant_No_Describe">
            @Html.LabelFor(model => model.Claimant_No_Describe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claimant_No_Describe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claimant_No_Describe, "", new { @class = "text-danger" })
            </div>
        </div>

        <script>
            $(".Claimant_No_Describe").hide();

            $("#Claimant_feed_No").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_feed_Yes").prop("checked", false);
                $(".Claimant_No_Describe").show();
            });
            $("#Claimant_feed_Yes").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_feed_No").prop("checked", false);
                $(".Claimant_No_Describe").hide();

            });
        </script>

        <div class="form-group">
            <label class="control-label col-md-2">
                Claimant Prep Meal
            </label>
            @*@Html.LabelFor(model => model.Claimant_Prep_Meal_Yes, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">
                        @Html.EditorFor(model => model.Claimant_Prep_Meal_Yes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Claimant_Prep_Meal_Yes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Claimant_Prep_Meal_No, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">*@
            <div class="col-md-10">
                <input id="Claimant_Prep_Meal_Yes" type="checkbox" class="checkbox-inline" value="" data-name="" /> Yes
                <input id="Claimant_Prep_Meal_No" type="checkbox" class="checkbox-inline" value="" data-name="" /> No
                @*@Html.EditorFor(model => model.Claimant_Prep_Meal_No, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Claimant_Prep_Meal_No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group Claimant_Prep_Meal_No_Describe"  style="border:2px outset black;border-radius:10px">
            @Html.LabelFor(model => model.Claimant_Prep_Meal_No_Describe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claimant_Prep_Meal_No_Describe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claimant_Prep_Meal_No_Describe, "", new { @class = "text-danger" })
            </div>
        </div>
        <script>
            $(".Claimant_Prep_Meal_No_Describe").hide();

            $("#Claimant_Prep_Meal_No").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Prep_Meal_Yes").prop("checked", false);
                $(".Claimant_Prep_Meal_No_Describe").show();
            });
            $("#Claimant_Prep_Meal_Yes").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Prep_Meal_No").prop("checked", false);
                $(".Claimant_Prep_Meal_No_Describe").hide();

            });
        </script>
        <div class="form-group">

            <label class="control-label col-md-2">Claimant Assistance?</label>
            <div class="col-md-10">
                <input id="Claimant_Assistance_Yes" type="checkbox" class="checkbox-inline" value="" data-name="" /> Yes
                <input id="Claimant_Assistance_No" type="checkbox" class="checkbox-inline" value="" data-name="" /> No
            </div>

        </div>

        <div class="form-group Claimant_Assistance_Yes_Describe"  style="border:2px outset black;border-radius:10px">
            @Html.LabelFor(model => model.Claimant_Assistance_Yes_Describe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claimant_Assistance_Yes_Describe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claimant_Assistance_Yes_Describe, "", new { @class = "text-danger" })
            </div>
        </div>

        <script>
            $(".Claimant_Assistance_Yes_Describe").hide();

            $("#Claimant_Assistance_No").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Assistance_Yes").prop("checked", false);
                $(".Claimant_Assistance_Yes_Describe").hide();
            });
            $("#Claimant_Assistance_Yes").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Assistance_No").prop("checked", false);
                $(".Claimant_Assistance_Yes_Describe").show();

            });
        </script>
        <div class="form-group">
            @Html.LabelFor(model => model.Claimant_Legally_Blind_Yes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("Claimant_Legally_Blind_Yes", htmlAttributes: new { @class = "checkbox-inline" }) Yes
                @Html.ValidationMessageFor(model => model.Claimant_Legally_Blind_Yes, "", new { @class = "text-danger" })
                @Html.CheckBox("Claimant_Legally_Blind_No", htmlAttributes: new { @class = "checkbox-inline" }) No
                @Html.ValidationMessageFor(model => model.Claimant_Legally_Blind_No, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="Claimant_Legally_Blind_Yes_Describe"  style="border:2px outset black;border-radius:10px">
            <div class="form-group">
                @Html.LabelFor(model => model.Claimant_Legally_Blind_Yes_Describe, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Claimant_Legally_Blind_Yes_Describe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Claimant_Legally_Blind_Yes_Describe, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.CorrectedVisionLeftEye, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CorrectedVisionLeftEye, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CorrectedVisionLeftEye, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CorrectedVisionRightEye, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CorrectedVisionRightEye, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CorrectedVisionRightEye, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>



        <script>
            $(".Claimant_Legally_Blind_Yes_Describe").hide();

            $("#Claimant_Legally_Blind_No").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Legally_Blind_Yes").prop("checked", false);
                $(".Claimant_Legally_Blind_Yes_Describe").hide();
            });
            $("#Claimant_Legally_Blind_Yes").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Legally_Blind_No").prop("checked", false);
                $(".Claimant_Legally_Blind_Yes_Describe").show();

            });
        </script>




        <div class="form-group">
            @Html.LabelFor(model => model.Claimant_Care_Yes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("Claimant_Care_Yes", htmlAttributes: new { @class = "checkbox-inline" }) Yes
                @Html.CheckBox("Claimant_Care_No", htmlAttributes: new { @class = "checkbox-inline" }) No

            </div>
        </div>

        <div class="form-group Claimant_Care_Yes_Describe">
            @Html.LabelFor(model => model.Claimant_Care_Yes_Describe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claimant_Care_Yes_Describe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claimant_Care_Yes_Describe, "", new { @class = "text-danger" })
            </div>
        </div>


        <script>
            $(".Claimant_Care_Yes_Describe").hide();

            $("#Claimant_Care_No").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Care_Yes").prop("checked", false);
                $(".Claimant_Care_Yes_Describe").hide();
            });
            $("#Claimant_Care_Yes").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Care_No").prop("checked", false);
                $(".Claimant_Care_Yes_Describe").show();

            });
        </script>








        <div class="form-group">
            <label class="control-label col-md-2">
                Is Claimant Medication Managemant?
            </label>
            <div class="col-md-10">
                @Html.CheckBox("Claimant_Medication_Managemant_Yes", htmlAttributes: new { @class = "checkbox-inline" }) Yes
                @Html.CheckBox("Claimant_Medication_Managemant_No", htmlAttributes: new { @class = "checkbox-inline" }) No
            </div>
        </div>

        <div class="form-group Claimant_Medication_Managemant_Yes_Describe">
            <label class="control-label col-md-2">
                Claimant Medication Managemant Describe
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claimant_Medication_Managemant_Yes_Describe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claimant_Medication_Managemant_Yes_Describe, "", new { @class = "text-danger" })
            </div>
        </div>




        <script>
            $(".Claimant_Medication_Managemant_Yes_Describe").hide();

            $("#Claimant_Medication_Managemant_No").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Medication_Managemant_Yes").prop("checked", false);
                $(".Claimant_Medication_Managemant_Yes_Describe").hide();
            });
            $("#Claimant_Medication_Managemant_Yes").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Medication_Managemant_No").prop("checked", false);
                $(".Claimant_Medication_Managemant_Yes_Describe").show();

            });
        </script>












        <div class="form-group">
            <label class="control-label col-md-2">
                Is Claimant Ability Financial?
            </label>
            <div class="col-md-10">

                @Html.CheckBox("Claimant_Ability_Financial_Yes", htmlAttributes: new { @class = "checkbox-inline" }) Yes
                @Html.CheckBox("Claimant_Ability_Financial_No", htmlAttributes: new { @class = "checkbox-inline" }) No
                @Html.ValidationMessageFor(model => model.Claimant_Ability_Financial_Yes, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Claimant_Ability_Financial_No, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Claimant_Ability_Financial_No, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Claimant_Ability_Financial_No, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group Claimant_Ability_Financial_No_Describe">
            <label class="control-label col-md-2">
                Claimant Ability Financial No Describe
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claimant_Ability_Financial_No_Describe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claimant_Ability_Financial_No_Describe, "", new { @class = "text-danger" })
            </div>
        </div>





        <script>
            $(".Claimant_Ability_Financial_No_Describe").hide();

            $("#Claimant_Ability_Financial_No").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Ability_Financial_Yes").prop("checked", !a);

                $(".Claimant_Ability_Financial_No_Describe").show();
            });
            $("#Claimant_Ability_Financial_Yes").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Claimant_Ability_Financial_No").prop("checked", !a);
                $(".Claimant_Ability_Financial_No_Describe").hide();

            });
        </script>




        <div class="form-group">
            <label class="control-label col-md-2">
                Posture and Genderal Appearance
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostureAndGeneralAppearance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostureAndGeneralAppearance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Restrictions Of Upper Extremity</label>
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.RestrictionsOfUpperExtremity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RestrictionsOfUpperExtremity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Restrictions of lower Extremity
            </label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.RestrictionsOfLowerExtremity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RestrictionsOfLowerExtremity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Restriction Of Spine Trunk Neck
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Restriction_Of_Spine_trunk_Neck, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Restriction_Of_Spine_trunk_Neck, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                The Loss Of Bowel
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.The_Loss_Of_Bowel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.The_Loss_Of_Bowel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Claimant Circumtances
            </label>
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claimant_Circumtances, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claimant_Circumtances, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Locomotion_Yes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.CheckBox("Locomotion_Yes", new { htmlAttributes = new { @class = "checkbox-inline" } }) Yes
                @Html.CheckBox("Locomotion_No", new { htmlAttributes = new { @class = "checkbox-inline" } }) No
                @Html.ValidationMessageFor(model => model.Locomotion_Yes, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="Locomotion" style="border:2px outset black;border-radius:10px">
            
            <div class="form-group">

                @Html.LabelFor(model => model.Locomotion_Yes_1Block, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">

                        @Html.CheckBox("Locomotion_Yes_1Block") 1 Block

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Locomotion Yes 5 6 Block</label>

                <div class="col-md-10">
                    <div class="checkbox">

                        @Html.CheckBox("Locomotion_Yes_5_6Block") 5 to 6 Bock

                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Locomotion_Yes_1Mile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.CheckBox("Locomotion_Yes_1Mile") 1 Mile

                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Locomotion_Yes_OtherSpecify, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Locomotion_Yes_OtherSpecify, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Locomotion_Yes_OtherSpecify, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <script>
            $(".Locomotion").hide();

            $("#Locomotion_Yes").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Locomotion_No").prop("checked", !a);

                $(".Locomotion").show();
            });
            $("#Locomotion_No").change(function () {
                var a = $(this).val();
                //alert(a);
                $("#Locomotion_Yes").prop("checked", !a);
                $(".Locomotion").hide();

            });

        </script>



        @*<div class="form-group">
                @Html.LabelFor(model => model.Locomotion_No, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Locomotion_No, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Locomotion_No, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">
                Printed Name Examiner
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Printed_Name_Examiner, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Printed_Name_Examiner, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SignatureExaminer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="SignatureExaminer" id="SignatureExaminer" class="form-control" />
                @*@Html.EditorFor(model => model.SignatureExaminer, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.SignatureExaminer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateSigned, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateSigned, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateSigned, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Name and Address Medical Facility
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name_And_Address_Medical_Facility, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name_And_Address_Medical_Facility, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Phone number Medical Facility
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumberMedicalFacility, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumberMedicalFacility, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
